<div id="support-chat__chat-box" class="fixed-chat-box hidden">
  <div class="fixed-chat-box__title-bar">
    <div class="title-bar__title">
      {% trans %}Messagerie de support technique{% endtrans %}
    </div>
    <div id="support-chat__exit" class="title-bar__exit">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <div id="support-chat__content" class="fixed-chat-box__content">
    <div id="support-chat__actions" class="support-chat__actions hidden">
      <div id="support-chat__join-btn" class="support-chat__action hidden">
        <i class="fas fa-plus"></i>
        <span>
          {% trans %}Joindre{% endtrans %}
        </span>
      </div>
      <div id="support-chat__leave-btn" class="support-chat__action hidden">
        <i class="fas fa-times"></i>
        <span>
          {% trans %}Quitter{% endtrans %}
        </span>
      </div>
    </div>
    <div id="support-chat__messages-container" class="support-chat__messages">
    </div>
    <div class="support-chat__input">
      <form id="support-chat__form" action="admin/chat" method="post">
        <input id="support-chat__roomid" name="room_id" type="hidden" required />
        <textarea id="support-chat__textarea" name="content" rows="2" required disabled></textarea>
        <input id="support-chat__sendbtn" class="btn btn-primary" type="submit" value="{{"Envoyer"|trans }}" disabled/>
      </form>
    </div>
  </div>
  <div id="support-chat__sidebar" class="fixed-chat-box__sidebar">
    {% include 'Support_Chat/sidebar_admin.html.twig' %}
  </div>
</div>
