{% for message in messages %}
  <div title="{{ message.date_time|date("F jS \\a\\t g:ia") }}" class="
  {% if message.employee_id is not null %}
  support-chat__message message--to
  {% elseif message.member_id is not null %}
  support-chat__message message--from
  {% else %}
  message--server
  {% endif %}
  ">
    {{ message.content|e }}
  </div>
{% endfor %}
