<div id="register-admin-form" class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">{% trans %}Account.Create.Admin{% endtrans %}</h4>
    <form>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input name="" id="user" class="form-control" placeholder="{{"Placeholder.User"|trans }}" type="text">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <input name="" id="email-user-adress" class="form-control" placeholder="{{"Placeholder.Email"|trans }}" type="email">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input id="admin-register-password" class="form-control" placeholder="{{"Placeholder.Password.Create"|trans }}" type="password">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input id="admin-repeat-password" class="form-control" placeholder="{{"Placeholder.Password.Confirm"|trans }}" type="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">{% trans %}Account.Create.Admin{% endtrans %}
        </button>
      </div>
    </form>
  </article>
</div>
