:root {
  --trail-color: #D67114;
}

.circuit-info__content {
  background-color: var(--foam);
  min-height: 67%;
}

.circuit-banner {
  height: 35rem;
}

.content-header {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.description-container {
  display: grid;
  align-content: center;
  justify-content: center;
}

.description-body {
  width: 60vw;
}

.nodes {
  position: relative;
}

.banner {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center -350px;
}

.nodes {
  margin-left: 10vw;
}

.nodes::before {
  content: '';
  position: absolute;
  background-color: var(--trail-color);
  display: block;
  left: 2.5rem;
  width: 8px;
  height: 100%;
}

.node__title {
  cursor: pointer;
}

.node__content {
  max-height: 0;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.3s;
}

.node__content--expand {
  max-height: 60rem;
  transition-duration: 1s;
}

.node {
  user-select: none;
  margin-left: 5rem;
}

.node::before {
  left: -3rem;
  top: 1.5rem;
  display: block;
  position: relative;
  border: 0.3rem solid var(--trail-color);
  background-color: white;
  border-radius: 1.5rem;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
}

.circuit-guide {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-bottom: 3rem;
}

.circuit-guide__image {
  width: 200px;
  height: 225px;
  border-radius: 12em;
  background-color: var(--sand);
  padding: 0.5rem;
  box-shadow: 2px 2px 2px grey;
}

.circuit-guide__supporting-text {
  background-color: var(--wet-sand);
  box-shadow: 2px 2px 1px grey;
  padding: 1rem;
  border-radius: 0.5em;
}

/* choix hébergement */

.circuit_ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 0 !important;
  padding: 0;
  justify-content: space-between;
  width: 100%;
}

.circuit_ul i {
  margin-left: 10px;
}

.circuit_ul li {
  list-style-type: none;
  width: 200px;
  text-align: right;
}

#order_modal #list-home-list {
  background-color: white !important;
  color:black !important;
  margin-right: 5px;
}

#order_modal .modal-content {
  width:1000px;
}
