body {
  min-height: initial;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 2rem;
}

.password-reset-container {
  text-align: center;
  background-color: var(--wet-sand);
  padding: 1rem;
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

form > * {
  margin-bottom: 1rem;
}
