<h1 class="titre_principal">Bienvenue dans l'interface administrative du Labernois</h1>
<div class="liste_liens">
  <p>D'ici, vous pouvez accédez aux menus suivants : </p>
  <ul class="list-group list-group-flush menu_principal">
    <li class="list-group-item">
      <a href="#" onclick="getCircuits()">Gestion des circuits</a>
    </li>
    <li class="list-group-item">
      <a href="#" onclick="indexPromotions()">Gestion des promotions</a>
    </li>
    <li class="list-group-item">
      <a href="#" onclick="indexMedia()">Gestion des médias</a>
    </li>
    <li class="list-group-item">
      <a href="#" onclick="indexActivity()">Gestion des activités</a>
    </li>
    <li class="list-group-item">
      <a href="#" onclick="indexAccommodations()">Gestion des hébergements</a>
    </li>
    <li class="list-group-item">
      <a href="#" onclick="indexNewsletters()">Gestion des newsletters</a>
    </li>
  </ul>
</div>
