<form class="form_create_circuit">
  <div class="form-group">
    <label for="nom_circuit"><h5>Nom du circuit :</h5></label>
    <input type="email" class="form-control" id="nom_circuit"
           placeholder="Ex. : Circuit Méditerrannéen">
  </div>

  <div class="select_container">
    {# // multiple selectpicker for circuit categories #}
    <div>
      <label for="">Catégorie(s) : </label>
      <select class="selectpicker" title="Aucune catégorie" multiple>
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
      </select>
    </div>


    {# // multiple selectpicker for circuit languages #}
    <div>
      <label for="">Langue(s) disponible(s) pour le circuit : </label>
      <select class="selectpicker" title="Aucune langue" multiple>
        <option>Français</option>
        <option>Anglais</option>
        <option>Espagnol</option>
      </select>
    </div>
  </div>


  {# // File input for circuit image #}


  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" lang="fr">
    <label class="custom-file-label" for="customFile">Choisir une image</label>
  </div>


  {# text area for small back-end circuit desc #}

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description du circuit : </label>
    <textarea class="form-control" id="exampleFormControlTextarea1"
              rows="3"></textarea>
  </div>


  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill"
         href="#pills-home" role="tab" aria-controls="pills-home"
         aria-selected="true">Étape 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill"
         href="#pills-profile" role="tab" aria-controls="pills-profile"
         aria-selected="false">Étape 2</a>
    </li>
    <li class="nav-item">
      <i class="fas fa-plus-circle icone_ajout"></i>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
         aria-labelledby="pills-home-tab">

      {# GRILLE HORAIRE  1 #}

      <div class="etape">
        <div class="grille">
          <div class="time_column">
            <div class="heures">
              {% for i in 0..23 %}
                {% if i < 10 %}
                  0{{ i }}:00<br>
                {% else %}
                  {{ i }}:00<br>
                {% endif %}
              {% endfor %}
            </div>
            <div class="lignes">
              {% for i in 0..23 %}
                <hr>
              {% endfor %}
            </div>
          </div>
          <div class="grille_horaire">
            <div class="header">Jour 1</div>
            <div class="header">Jour 2</div>
            <div class="header">Jour 3</div>
            <div class="header">Jour 4</div>
            <div class="header"><i class="fas fa-plus"></i></div>
            <div class="activity" onclick="showActivity()"></div>
            <div class="activity" onclick="showActivity()"></div>
            <div class="activity" onclick="showActivity()"></div>
            <div class="activity" onclick="showActivity()"></div>
          </div>
        </div>
        <div class="hebergement_container">
          <h6 class="hebergement_titre">Hébergements :</h6>
          <div class="grille_hebergement">
            <div class="hebergement"><p>Ajouter un hébergement</p><i
                class="fas fa-plus"></i></div>
            <div class="hebergement"><p>Ajouter un hébergement</p><i
                class="fas fa-plus"></i></div>
            <div class="hebergement"><p>Ajouter un hébergement</p><i
                class="fas fa-plus"></i></div>
            <div class="hebergement"><p>Ajouter un hébergement</p><i
                class="fas fa-plus"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
         aria-labelledby="pills-profile-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
           aria-labelledby="pills-home-tab">

        {# GRILLE HORAIRE  1 #}

        <div class="etape">
          <div class="grille">
            <div class="time_column">
              <div class="heures">
                {% for i in 0..23 %}
                  {% if i < 10 %}
                    0{{ i }}:00<br>
                  {% else %}
                    {{ i }}:00<br>
                  {% endif %}
                {% endfor %}
              </div>
              <div class="lignes">
                {% for i in 0..23 %}
                  <hr>
                {% endfor %}
              </div>
            </div>
            <div class="grille_horaire">
              <div class="header">Jour 1</div>
              <div class="header">Jour 2</div>
              <div class="header">Jour 3</div>
              <div class="header">Jour 4</div>
              <div class="header"><i class="fas fa-plus"></i></div>
              <div class="activity" onclick="showActivity()"></div>
              <div class="activity" onclick="showActivity()"></div>
              <div class="activity" onclick="showActivity()"></div>
              <div class="activity" onclick="showActivity()"></div>
            </div>
          </div>
          <div class="hebergement_container">
            <h6 class="hebergement_titre">Hébergements :</h6>
            <div class="grille_hebergement">
              <div class="hebergement"><p>Ajouter un hébergement</p><i
                  class="fas fa-plus"></i></div>
              <div class="hebergement"><p>Ajouter un hébergement</p><i
                  class="fas fa-plus"></i></div>
              <div class="hebergement"><p>Ajouter un hébergement</p><i
                  class="fas fa-plus"></i></div>
              <div class="hebergement"><p>Ajouter un hébergement</p><i
                  class="fas fa-plus"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="button_panel">
    <button type="button" class="btn btn-dark mr-auto" onClick="getCircuits()">
      Retour à la liste des circuits
    </button>
    <button type="button" class="btn btn-secondary">Enregistrer le circuit
    </button>
    <button type="button" class="btn btn-success"
            onclick="getCircuits_organize()">Organiser le circuit
    </button>
  </div>

</form>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Créer une
          activité</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nom de l'activité</label>
            <input type="email" class="form-control"
                   id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Type d'activité</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Transport</option>
              <option>Action</option>
              <option>Relaxation</option>
              <option>Découverte</option>
              <option>Autres</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput2">Lien vers la page de
              l'activité</label>
            <input type="email" class="form-control"
                   id="exampleFormControlInput2" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description de
              l'activité</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"
                      rows="3"></textarea>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="inputGroupSelect01">Heure</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choisir ...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text"
                     for="inputGroupSelect02">Durée</label>
            </div>
            <select class="custom-select" id="inputGroupSelect02">
              <option selected>Choisir ...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile2"
                   lang="fr">
            <label class="custom-file-label" for="customFile2">Choisir une
              image</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>



