<div class="modal" tabindex="-1" role="dialog" id="modalCreationEtape">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <br>
      <div class="modal-header ">
        <h5 class="modal-title">Création d'une étape</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="formCreateEtape" onsubmit="return creerEtape()"
            enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <input value="{{ circuit_id }}" name="circuit_id" id="circuit_id" style="display: none">
            <label for="positionEtape">Position de l'étape : </label>
            <input type="number" class="form-control" id="positionEtape"
                   name="positionEtape" required>
          </div>
          <div class="form-group">
            <label for="descriptionEtape">Description de l'étape</label>
            <textarea id="descriptionEtape" name="descriptionEtape"
                      rows="5"></textarea>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Créer l'étape</button>
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Fermer
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
