<h3>{% trans %}Circuit.Organisation.Label{% endtrans %}</h3>

<form>
  <div class="form-group">
    <label for="date_depart">{% trans %}Circuit.Date.Official.Departure{% endtrans %} :</label>
    <input class="datepicker" id="date_depart" width="256px"/>
    <label for="date_fin">{% trans %}Circuit.Date.Official.End{% endtrans %} :</label>
    <input class="datepicker" id="date_fin" width="256px"/>
  </div>
  <div class="form-group">
    <label for="prix_circuit">{% trans %}Circuit.Price{% endtrans %} :</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="prix_circuit"
             aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <label for="date_remboursement">{% trans %}Refund.Date.Limit.Cancel{% endtrans %} : </label>
    <input class="datepicker" id="date_remboursement" width="256px"/>
    <label for="date_cancellation">{% trans %}Refund.Date.Limit.Fees{% endtrans %} :</label>
    <input class="datepicker" id="date_cancellation" width="256px"/>
    <label for="prix_annulation">{% trans %}Refund.Fees{% endtrans %} :</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="prix_annulation"
             aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="nb_places">{% trans %}Circuit.Disponibility.Places{% endtrans %}
      :</label>
    <input type="number" id="nb_places" width="256px"/>
    <label for="quorum">{% trans %}Circuit.Organisation.Min.Places{% endtrans %}
      :</label>
    <input type="number" id="quorum" width="256px"/>
    {# // multiple selectpicker for circuit guides #}
    <div>
      <label for="guide">Guide(s) : </label>
      <select id="guide" class="selectpicker" title="Aucun guide" multiple>
        <option>Georges Baboune</option>
        <option>Harrison Légende</option>
        <option>Cookie Nancy</option>
      </select>
    </div>


  </div>
  <div class="form-group">
    <h4>{% trans %}Payment.Plan.Label{% endtrans %}</h4>
    <label for="paiement_plan">{% trans %}Payment.Plan.Name{% endtrans %} :</label>
    <input type="text" class="form-control" id="paiement_plan"
           placeholder="Ex.: Plan Mensuel 1">
    <label for="prix_plan">{% trans %}Payment.Amount{% endtrans %} :</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" id="prix_plan"
             aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <label for="date_paiement">{% trans %}Payment.Limit.Date{% endtrans %} :</label>
    <input class="datepicker" id="date_paiement" width="256px"/>
  </div>
  <div class="button_panel">
    <button type="button" class="btn btn-dark mr-auto" onClick="getCircuits()">
      {% trans %}Circuit.Return.List{% endtrans %}
    </button>
    <button type="button" class="btn btn-secondary">{% trans %}Circuit.Return.Creation{% endtrans %}
    </button>
    <button type="button" class="btn btn-success">{% trans %}Circuit.Start{% endtrans %} !
    </button>
  </div>
</form>
