<li class="nav-item">
  <a class="nav-link" id="pills-step-{{ nbEtapes }}-tab" data-toggle="pill"
     href="#pills-step-{{ nbEtapes }}" role="tab" aria-controls="pills-step-{{ nbEtapes }}"
     aria-selected="false">Étape {{ nbEtapes }}</a>
</li>
<li id="addstep_button" class="nav-item">
  <i class="fas fa-plus-circle icone_ajout" onclick="addStep()"></i>
</li>
