<h2>{% trans %}Accommodation.Management{% endtrans %}</h2>

{% include 'Accommodations/accommodation_add.html.twig' %}

<div class="accommodation-grid__controls">
  <a id="accommodation-new-btn" href="#" data-toggle="modal" data-target="#accommodation-add-modal">
    <span>{% trans %}Accommodation.Add{% endtrans %}</span>
    <i class="fas fa-plus-circle icone_ajout" aria-hidden="true"></i>
  </a>
</div>

<div class="accommodation-grid">
  <div class="accommodation-grid__header">
    <div class="accommodation-grid__header__elem">{% trans %}Name{% endtrans %}</div>
    <div class="accommodation-grid__header__elem">{% trans %}Type{% endtrans %}</div>
    <div class="accommodation-grid__header__elem">{% trans %}Link{% endtrans %}</div>
    <div class="accommodation-grid__header__elem">{% trans %}Rating{% endtrans %}</div>
  </div>
  <div class="accommodation-grid__body">
    {% for accommodation in accommodations %}
    <div class="accommodation-grid__body__row">
      <div class="accommodation-grid__body__row__elem">{{ accommodation.name }}</div>
      <div class="accommodation-grid__body__row__elem">{{ accommodation.accommodation_type }}</div>
      <div class="accommodation-grid__body__row__elem">
        <a href="{{ accommodation.link }}">{% trans %}link{% endtrans %}</a>
      </div>
      <div class="accommodation-grid__body__row__elem">{{ accommodation.rating }}/5</div>
    </div>
    {% else %}
      <div class="accommodation-grid__body__row">
        <div class="accommodation-grid__body__row__elem">N/A</div>
        <div class="accommodation-grid__body__row__elem">N/A</div>
        <div class="accommodation-grid__body__row__elem">
          N/A
        </div>
        <div class="accommodation-grid__body__row__elem">N/A</div>
      </div>
    {% endfor %}
  </div>
</div>
