<div class="modal" tabindex="-1" role="dialog" id="modalTravelerList">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Liste des voyageurs</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <button type="button" class=" my-2 float-sm-right btn btn-primary" onclick="getTravelerCreator()">Ajouter un voyageur</button>
        </div>
        <div>
          <table class="table" id="tableTravelers">
            <caption>Voyageurs</caption>
            <thead>
              <tr>
                <th scope="col" class="table-remove-border-bottom">Nom</th>
                <th scope="col" class="table-remove-border-bottom">Prénom</th>
                <th scope="col" class="table-remove-border-bottom">Supprimer</th>
              </tr>
            </thead>
            <tbody>
            {% for traveler in travelers %}
              <tr>
                <td>
                  {{ traveler.first_name|e }}
                </td>
                <td>
                  {{ traveler.last_name }}
                </td>
                <td>
                  <button type="button" class=" my-2 float-sm-right btn btn-danger" onclick="deleteTraveler({{ traveler.id|e }})">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% else %}
              <tr>
                <td colspan="2">
                  Aucun voyageur
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div>
          <button type="button" class=" my-2 float-sm-right btn btn-primary" onclick="passToAccommodations()">Passer à la prochaine étape</button>
          <button type="button" class=" my-2 float-sm-right btn btn-secondary"  data-dismiss="modal">Annuler la commande de ce voyage</button>
        </div>
      </div>
    </div>
  </div>
</div>
