@for $i from 0 through 95 {
    $zero: "";
    @if ($i % 4 * 15)==0 {
        $zero: "0";
    }
    .activity--start-#{floor($i/4)}h#{$i % 4 * 15}#{$zero} {
        grid-row-start: #{$i + 2};
    }
}

@for $i from 1 through 96 {
    $zero: "";
    @if ($i % 4 * 15)==0 {
        $zero: "0";
    }
    .activity--end-#{floor($i/4)}h#{$i % 4 * 15 }#{$zero} {
        grid-row-end: #{$i + 1};
    }
}

@for $i from 0 through 96 {
    .activity-duration-#{($i+1)} {
        grid-row: span $i;
    }
}

@for $i from 0 through 365 {
  .step-duration-#{($i)} {
      grid-template-columns: repeat($i + 1, 1fr);
  }
}
