.interface-content {
    height: 100%;
    width: 100%;
    grid-area: content;
}

.main-grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "head head"
        "menu content"
        ". .";
    grid-template-columns: 8vw 1fr;
    grid-template-rows: 12vh 4fr 1fr;

}

.navbar-admin {
    grid-area: head;
    z-index: 1;
}

.menu-vertical-admin {
    grid-area: menu;
    background-color: rgba(209, 214, 221, 0.815);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
    display: grid;
    padding: 3vh 0;
    width: 0px;
    overflow:hidden;
    transition-property: width, opacity;
    transition-duration: 0.5s, 0.5s;
    opacity: 0;
}

.sidebar-show {
    overflow: visible;
    width: 10vw;
    opacity: 1;
}

.menu-vertical-admin img {
    height: 5vh;
    width: 3vw;
    transition: 0.2s;
    -webkit-filter: blur(0.4px);
    /* Safari 6.0 - 9.0 */
    filter: blur(0.4px);
}

.menu-vertical-admin li {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-vertical-admin a {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 4vh;
    margin-top: 3vh;
    border-top: solid rgb(170, 185, 201) 1px;
    width: 6vw !important;
    display: flex;
    justify-content: center;
}

.menu-vertical-admin li:first-of-type a {
    border-top: none;
    margin-top: 0;
}

.menu-vertical-admin p {
    font-size: 1.2vw;
    padding: 0 1vw;
}

.menu-vertical-admin p:first-of-type {
    padding-top: 1vh;
}

.menu-vertical-admin li>div>p:hover {
    opacity: 0.6;
    cursor: pointer;
    transition-duration: 0.2s;
}


/* hamburger menu */


.container1 {
    display: flex;
    cursor: pointer;
    margin-right: 2vw;
    flex-direction: column;
    align-items: center;
    width:35px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
    transition: 0.4s;
    border-radius: 1em;
    
}

.bar1 {
    width:30px;
    align-self: flex-end;
}
.bar2 {
    width:20px;
}
.bar3 {
    width: 30px;
    align-self: flex-start;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/* TOP NAVBAR */

.navbar-admin li:nth-of-type(4) {
    margin-right: auto;
}

.navbar-admin li {
    margin: 0 0.5vw;
}

.navbar-admin li > a:hover {
    color: rgba(255, 255, 255, 0.90) !important;
    transition-property: color;
    transition-duration: 0.4s;
}

a.navbar-brand {
    padding-right: 3vw;
}

.dropdown-item:hover {
    transition-property: background-color;
    transition-duration: 0.4s;
    background-color: #dce9f3 !important;
}


/* fade dropdown */

.dropdown-menu.fade {
    display: block;
    opacity: 0;
    pointer-events: none;
 }
 
 .show > .dropdown-menu.fade {
    pointer-events: auto;
    opacity: 1;
 }


