{% extends "base.html.twig" %}

{% block title %}404{% endblock %}
{% block body_class %}error_page{% endblock %}
{% block main %}
  <div class="home-content">
    <div class="home-content__banner">
      <div class="banner__text">
        {{ 'Page.Error.Message404'|trans }}
      </div>
    </div>
  </div>
{% endblock %}
