{% extends "base.html.twig" %}

{% block title %}{{ 'Error'|trans }}{% endblock %}
{% block body_class %}error_page{% endblock %}
{% block main %}
  <div class="home-content">
    <div class="home-content__banner">
      <div class="banner__text">
        {{ 'Page.Error.Message500'|trans }}
      </div>
    </div>
  </div>
{% endblock %}
