<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Fugaz+One|Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/images/labernois_logo.png" />
  <link rel="stylesheet" href="/css/custom_bootstrap.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/hamburger.css" />
  <link rel="stylesheet" href="/css/badge.css" />
  <link rel="stylesheet" href="/css/ribbon.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="drawer" class="hidden">
    <div id="drawer-nav" class="drawer__nav">
      <a href="" class="nav-link">Circuits</a>
      <a href="" class="nav-link">Promotions</a>
      <a href="" class="nav-link">About us</a>
      <a href="" class="nav-link">Login</a>
    </div>
    <div id="drawer-mask" class="drawer__mask"></div>
  </div>
  <header>
    <a href="/" class="logo">
      <img alt="logo_with_text" src="/images/labernois_logo_text.png" />
    </a>
    <nav>
      <a href="circuits/" class="nav-link">Circuits</a>
      <a href="" class="nav-link">Promotions</a>
      <a href="" class="nav-link">About us</a>
      <a href="" class="nav-link">Login</a>
    </nav>
    <button id="menu-hamburger" class="hamburger hamburger--squeeze" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </header>
  <main>
  {% block body %}
  {% endblock %}
  </main>
  <footer id="footer">
    <div class="footer__left">
      <img alt="logo" src="/images/labernois_logo.png" />
    </div>
    <div class="footer__right">
    </div>
  </footer>
</body>
<script>
  let burger = document.getElementById('menu-hamburger')
  burger.onclick = () => {
    burger.classList.toggle('is-active')
  }
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
