<div class="home-content__banner">
  <div class="banner__text">
    Voyager n'aura jamais été <span style="font-style: italic;">aussi</span> facile.
  </div>
</div>
<h2 class="home-content__header">Modifier mon compte</h2>
<div class="home-content__circuits">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" onclick="getInformations()" id="linkInformations">Informations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="linkCoordinates" onclick="getCoordinates()">Coordonnées</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="linkSecurity" onclick="getSecurity()">Sécurité</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="linkCommunications" onclick="getCommunications()">Communications</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="linkTrips" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Voyages</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="return getTripsUpcoming()">Voyages à venir</a>
        <a class="dropdown-item" href="#" onclick="return getTrips()">Historique des voyages</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" onclick="return getPaymentsUpcoming()">Paiements à faire</a>
        <a class="dropdown-item" href="#" onclick="return getPayments()">Historique des paiements</a>
      </div>
    </li>
  </ul>
  <div id="contentForm"></div>
</div>
