<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>
      Cliquez <a href="http://localhost/password_reset?token={{ token }}">ici</a>
      pour Réinitialiser votre mot de passe.
    </p>
    <p>
      Vous avez reçu ce email car vous avez fait une demande de réinitialisation
      de mot de passe. Si vous n'avez pas fait cette demande, vous pouvez ignorer
      ce email.
    </p>
  </body>
</html>
