<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/images/labernois_logo.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script|Fugaz+One|Permanent+Marker&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom_bootstrap.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/password_reset.css"/>
    <title>Réinitialisation du mot de passe | Le Labernois</title>
  </head>

  <body>
    <header>
      <a href="#" class="logo">
        <img alt="logo_with_text" src="/images/labernois_logo_text.png"/>
      </a>
    </header>
    <main>
      <div class="password-reset-container">
        <h1>Réinitialisation du mot de passe</h1>
        <form id="reset_form" method="post" action="password_reset">
          <input id="reset_form_token" name="token" type="hidden" value="{{ token|e("html_attr") }}"/>
          <label for="reset_form_password">Nouveau mot de passe</label>
          <input id="reset_form_password" name="password" type="password" />
          <label for="reset_form_password_confirmation">Confirmation du nouveau mot de passe</label>
          <input id="reset_form_password_confirmation" name="password_confirmation" type="password" />
          <input id="reset_form_submit" class="btn btn-primary" type="submit" value="Réinitialiser le mot de passe" />
        </form>
      </div>
    </main>
    <footer id="footer">
      <div class="footer__left">
        <img alt="logo" src="/images/labernois_logo.png"/>
      </div>
      <div class="footer__middle">
        <div class="footer__links">
          <a href="" class="link-colors">Contact Us</a>
          <a href="" class="link-colors">Newsletter</a>
          <a href="/admin" class="link-colors">Administration</a>
        </div>
        <p class="footer-copyright">
          Copyright © 2019 MBGLA LABERNOIS, Inc. All rights reserved.</p>
      </div>
      <div class="footer__right"></div>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/password_reset.js"></script>
</html>
