{% if allHistory == false %}
  <h3 class="mt-2 mb-1">{% trans %}Payment.Todo{% endtrans %}</h3>
{% else %}
  <h3 class="mt-2 mb-1">{% trans %}Payment.History{% endtrans %}</h3>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        {% trans %}Payment.Trip.Name{% endtrans %}
      </th>
      <th scope="col">
        {% trans %}Payment.Ammount{% endtrans %}
      </th>
      <th scope="col">
        {% trans %}Payment.Date.Limit{% endtrans %}
      </th>
      {% if allHistory == true %}
        <th scope="col">
          {% trans %}Payment.Transaction{% endtrans %}
        </th>
      {% endif %}
      <th scope="col">
        {% trans %}Payment.Options{% endtrans %}
      </th>
    </tr>
  </thead>
  <tbody>
  {% for payments in payments %}
    <tr>
      <td scope="row">
        {{ payment.name|e }}
      </td>
      <td scope="row">
        {{ payment.amount_due }}
      </td>
      <td scope="row">
        {{ payment.date_due|date('Y-m-d') }}
      </td>
      <td scope="row">
        <button class="btn btn-info" onclick="return getTripInformations({{ trip.id }})">
          <span class="fab fa-paypal"></span>
        </button>
      </td>
    </tr>
  {% else %}
    <tr>
      <td scope="row" colspan="2">
        {% trans %}Payment.None{% endtrans %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
