{% if allHistory == false %}
  <h3 class="mt-2 mb-1">Paiements à faire</h3>
{% else %}
  <h3 class="mt-2 mb-1">Historique des paiements</h3>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        Nom du voyage
      </th>
      <th scope="col">
        Montant du paiement
      </th>
      <th scope="col">
        Date limite du paiement
      </th>
      {% if allHistory == true %}
        <th scope="col">
          Transaction
        </th>
      {% endif %}
      <th scope="col">
        Options
      </th>
    </tr>
  </thead>
  <tbody>
  {% for payments in payments %}
    <tr>
      <td scope="row">
        {{ payment.name }}
      </td>
      <td scope="row">
        {{ payment.amount_due }}
      </td>
      <td scope="row">
        {{ payment.date_due|date('Y-m-d') }}
      </td>
      <td scope="row">
        <button class="btn btn-info" onclick="return getTripInformations({{ trip.id }})">
          <span class="fab fa-paypal"></span>
        </button>
      </td>
    </tr>
  {% else %}
    <tr>
      <td scope="row" colspan="2">
        Aucun paiement trouvé.
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>


