<div id="register-user-form" class="card bg-light hidden">
  <div class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Créez un compte</h4>
    <form>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input name="" id="user-prenom" class="form-control" placeholder="Prenom" type="text">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <input name="" id="user-nom" class="form-control" placeholder="Nom" type="text">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <input name="" id="email-admin-adress" class="form-control" placeholder="Adresse courriel" type="email">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
        <input type="text" id="birthdate" class="form-control" placeholder="Date de naissance">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-phone"></i>
          </span>
        </div>
        <select class="custom-select" style="max-width: 120px;">
          <option selected="">514</option>
          <option value="1">450</option>
        </select>
        <input name="" id="phone" class="form-control" placeholder="Téléphone" type="text">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-building"></i>
          </span>
        </div>
        <input name="" id="adress" class="form-control" placeholder="Adresse" type="email">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input id="user-register-password" class="form-control" placeholder="Créez mot de passe" type="password">
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input id="user-repeat-password" class="form-control" placeholder="Répéter mot de passe" type="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
          Créez un compte
        </button>
      </div>
      <p id="register-login-link" class="text-center">
        <a href="#">Vous avez déjà un compte? Connectez-vous!</a>
      </p>
    </form>
  </div>
</div>
