<div id="reset-modal-container" class="container mdp-reset hidden">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-lock fa-4x"></i>
            <h2 class="text-center">Mot de passe oublié?</h2>
            <p>Réinitialiser votre mot de passe ici.</p>
            <form id="password-reset-form" class="form-signin" method="post" action="send_email">
              <div class="form-label-group">
                <input name="email" type="email" id="email-reset-form" class="form-control" placeholder="Email address" required>
                <label for="email-reset-form">Adresse courriel</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Réinitialiser votre mot de passe</button>
            </form>
            <p id="reset-login-link" class="text-center">
              <a href="#">Retour</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
