<div id="reset-modal-container" class="container mdp-reset hidden">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <i class="fa fa-lock fa-4x"></i>
            <h2 class="text-center">{% trans %}Account.Password.Lost{% endtrans %}</h2>
            <p>{% trans %}Account.Password.Reset.Here{% endtrans %}</p>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="email-reset-form" class="form-control" placeholder="{{"Adresse courriel"|trans }}">
                <label for="email-reset-form">{% trans %}Email{% endtrans %}</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans %}Account.Password.Reset.Label{% endtrans %}</button>
            </form>
            <p id="reset-login-link" class="text-center">
              <a href="#">{% trans %}Return{% endtrans %}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
