{% if allHistory == false %}
  <h3 class="mt-2 mb-1">{% trans %}Trips.Incoming{% endtrans %}</h3>
{% else %}
  <h3 class="mt-2 mb-1">{% trans %}Trips.History{% endtrans %}</h3>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        {% trans %}Trips.Name{% endtrans %}
      </th>
      <th scope="col">
        {% trans %}Trips.Date.Departure{% endtrans %}
      </th>
      <th scope="col">
        {% trans %}Trips.Date.Return{% endtrans %}
      </th>
      <th scope="col">
        {% trans %}Trips.Details{% endtrans %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for trip in trips %}
      <tr>
        <td scope="row">
          {{ trip.name|e }}
        </td>
        <td scope="row">
          {{ trip.departure_date|date('Y-m-d') }}
        </td>
        <td scope="row">
          {{ trip.return_date|date('Y-m-d') }}
        </td>
        <td scope="row">
          <button class="btn btn-info" onclick="return getTripInformations({{ trip.id }})">
            <span class="fas fa-info-circle"></span>
          </button>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="2">
          {% trans %}Trips.None{% endtrans %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
